<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.DayNight">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WearSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/auramind" />
            </intent-filter>
        </service>

        <service
            android:name=".AuraMindTileService"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="androidx.wear.tiles.ACTION_BIND_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".DueCountComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_complication"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="androidx.wear.watchface.complications.ACTION_UPDATE_COMPLICATION" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.watchface.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE" />
            <meta-data
                android:name="androidx.wear.watchface.complications.UPDATE_PERIOD_SECONDS"
                android:value="3600" />
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>